name: CI/CD Pipeline

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

env:
  SRC_PYTHON_VERSION: "3.11"

jobs:
  build-deploy-docs:
    name: Build and Deploy Documentation
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Python Environment
        uses: ./.github/actions/setup-python-env

      - name: Get Version
        id: version
        uses: ./.github/actions/obtain-version

      - name: Build and Deploy Documentation
        uses: ./.github/actions/build-docs

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build-deploy-docs

    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Get Version
        id: version
        uses: ./.github/actions/obtain-version

      - name: Create Release
        uses: ./.github/actions/create-release
        with:
          version: ${{ steps.version.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
